@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.SalesOrgEmpAssignments
@using DMSpro.OMS.MdmService.SalesOrgEmpAssignments;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/SalesOrgEmpAssignments/CreateModal" autocomplete="off">
    <abp-modal id="SalesOrgEmpAssignmentCreateModal">
        <abp-modal-header title="@L["NewSalesOrgEmpAssignment"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="SalesOrgEmpAssignment.IsBase" />

            <abp-input asp-for="SalesOrgEmpAssignment.EffectiveDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="SalesOrgEmpAssignment.EndDate" value="" type="date"/>

                                <abp-select asp-for="SalesOrgEmpAssignment.SalesOrgHierarchyId" asp-items="Model.SalesOrgHierarchyLookupListRequired" label="@L["SalesOrgHierarchy"].Value"/>            <abp-select asp-for="SalesOrgEmpAssignment.EmployeeProfileId" asp-items="Model.EmployeeProfileLookupListRequired" label="@L["EmployeeProfile"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>