@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Pages.SalesOrgEmpAssignments
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["SalesOrgEmpAssignments"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.SalesOrgEmpAssignments;
}

@section scripts
{
    <abp-script src="/Pages/Mdm/SalesOrgEmpAssignments/index.js" />
}

@*@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MdmServicePermissions.SalesOrgEmpAssignments.Create))
    {
        <abp-button id="NewSalesOrgEmpAssignmentButton" text="@L["NewSalesOrgEmpAssignment"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}*@

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-select asp-for="IsBaseFilter" label="@L["IsBase"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EffectiveDateFilterMin" label="@L["MinEffectiveDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EffectiveDateFilterMax" label="@L["MaxEffectiveDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EndDateFilterMin" label="@L["MinEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EndDateFilterMax" label="@L["MaxEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="SalesOrgHierarchyIdFilter" label="@L["SalesOrgHierarchy"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="EmployeeProfileIdFilter" label="@L["EmployeeProfile"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="SalesOrgEmpAssignmentsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["IsBase"]</th>
					<th>@L["EffectiveDate"]</th>
					<th>@L["EndDate"]</th>
					<th>@L["SalesOrgHierarchy"]</th>
					<th>@L["EmployeeProfile"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>