@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.Companies
@using DMSpro.OMS.MdmService.Companies;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Companies/CreateModal" autocomplete="off">
    <abp-modal id="CompanyCreateModal">
        <abp-modal-header title="@L["NewCompany"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Company.Code" />

            <abp-input asp-for="Company.Name" />

            <abp-input asp-for="Company.Street" />

            <abp-input asp-for="Company.Address" text-area/>

            <abp-input asp-for="Company.Phone" />

            <abp-input asp-for="Company.License" />

            <abp-input asp-for="Company.TaxCode" />

            <abp-input asp-for="Company.VATName" />

            <abp-input asp-for="Company.VATAddress" />

            <abp-input asp-for="Company.ERPCode" />

            <abp-input asp-for="Company.Active" />

            <abp-input asp-for="Company.EffectiveDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="Company.EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="Company.IsHO" />

            <abp-input asp-for="Company.Latitude" />

            <abp-input asp-for="Company.Longitude" />

            <abp-input asp-for="Company.ContactName" />

            <abp-input asp-for="Company.ContactPhone" />

                                <abp-select asp-for="Company.ParentId" asp-items="Model.CompanyLookupList" label="@L["Parent"].Value"/>            <abp-select asp-for="Company.GeoLevel0Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoLevel0"].Value"/>            <abp-select asp-for="Company.GeoLevel1Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoLevel1"].Value"/>            <abp-select asp-for="Company.GeoLevel2Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoLevel2"].Value"/>            <abp-select asp-for="Company.GeoLevel3Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoLevel3"].Value"/>            <abp-select asp-for="Company.GeoLevel4Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoLevel4"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
