@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Pages.Companies
@using DMSpro.OMS.MdmService.Web.Menus
@using DMSpro.OMS.MdmService.Companies;
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Page:Title:CompanyProfiles"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.Companies;
}

@section scripts
{
    <abp-script src="/Pages/Mdm/Companies/index.js" />
}

@section breadcrumb
    {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:Company"].Value</li>
        <li class="breadcrumb-item active">@L["Page:Title:CompanyProfiles"].Value</li>
    </ol>
}
<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fal fa-credit-card-front"></i> @L["Page:Title:CompanyProfiles"].Value
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0" style="height: 330px;">
                <abp-card>
                    <abp-card-body>
                        <abp-row>
                            <div style="padding-left:12px" class="buttons-header-grid">
                                @if (await Authorization.IsGrantedAsync(MdmServicePermissions.CompanyMasters.Create))
                                {
                                    <button id="btnNewCompany" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                        <i class="fa fa-plus"></i> <span>@L["Button:New:CompanyProfile"].Value</span>
                                    </button>
                                }
                                <button id="ExportToExcelButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-download"></i> <span>@L["ExportToExcel"].Value</span>
                                </button>
                                <button id="ImportFromExcelButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-upload"></i> <span>@L["ImportFromExcel"].Value</span>
                                </button>
                                <div class="dx-datagrid-search-panel dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-searchbox dx-show-clear-button dx-texteditor-empty dx-widget dx-state-hover" style="width: 250px;">
                                    <div class="dx-texteditor-container">
                                        <div class="dx-texteditor-input-container">
                                            <div class="dx-icon dx-icon-search"></div>
                                            <input id="Search" autocomplete="off" aria-label="Search in the data grid" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" role="textbox">

                                        </div>
                                        <div class="dx-texteditor-buttons-container">
                                            <span class="dx-clear-button-area"><span class="dx-icon dx-icon-clear"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </abp-row>
                        
                        <div class="dx-viewport" style="overflow: auto;">
                            <div id="dgCompanies"></div>
                        </div>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</div>
