@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.Customers
@using DMSpro.OMS.MdmService.Customers;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Customers/CreateModal" autocomplete="off">
    <abp-modal id="CustomerCreateModal">
        <abp-modal-header title="@L["NewCustomer"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Customer.Code" />

            <abp-input asp-for="Customer.Name" />

            <abp-input asp-for="Customer.Phone1" />

            <abp-input asp-for="Customer.Phone2" />

            <abp-input asp-for="Customer.erpCode" />

            <abp-input asp-for="Customer.License" />

            <abp-input asp-for="Customer.TaxCode" />

            <abp-input asp-for="Customer.vatName" />

            <abp-input asp-for="Customer.vatAddress" />

            <abp-input asp-for="Customer.Active" />

            <abp-input asp-for="Customer.EffectiveDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="Customer.EndDate" value="" type="date"/>

            <abp-input asp-for="Customer.CreditLimit" />

            <abp-input asp-for="Customer.IsCompany" />

            <abp-input asp-for="Customer.WarehouseId" />

            <abp-input asp-for="Customer.Street" />

            <abp-input asp-for="Customer.Address" />

            <abp-input asp-for="Customer.Latitude" />

            <abp-input asp-for="Customer.Longitude" />

            <abp-input asp-for="Customer.SFACustomerCode" />

            <abp-input asp-for="Customer.LastOrderDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

                                <abp-select asp-for="Customer.PaymentTermId" asp-items="Model.SystemDataLookupList" label="@L["PaymentTerm"].Value"/>            <abp-select asp-for="Customer.LinkedCompanyId" asp-items="Model.CompanyLookupList" label="@L["LinkedCompany"].Value"/>            <abp-select asp-for="Customer.PriceListId" asp-items="Model.PriceListLookupListRequired" label="@L["PriceList"].Value"/>            <abp-select asp-for="Customer.GeoMaster0Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster0"].Value"/>            <abp-select asp-for="Customer.GeoMaster1Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster1"].Value"/>            <abp-select asp-for="Customer.GeoMaster2Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster2"].Value"/>            <abp-select asp-for="Customer.GeoMaster3Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster3"].Value"/>            <abp-select asp-for="Customer.GeoMaster4Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster4"].Value"/>            <abp-select asp-for="Customer.Attribute0Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute0"].Value"/>            <abp-select asp-for="Customer.Attribute1Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute1"].Value"/>            <abp-select asp-for="Customer.Attribute2Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute2"].Value"/>            <abp-select asp-for="Customer.Attribute3Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute3"].Value"/>            <abp-select asp-for="Customer.Attribute4Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute4"].Value"/>            <abp-select asp-for="Customer.Attribute5Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute5"].Value"/>            <abp-select asp-for="Customer.Attribute6Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute6"].Value"/>            <abp-select asp-for="Customer.Attribute7Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute7"].Value"/>            <abp-select asp-for="Customer.Attribute8Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute8"].Value"/>            <abp-select asp-for="Customer.Attribute9Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute9"].Value"/>            <abp-select asp-for="Customer.Attribute10Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute10"].Value"/>            <abp-select asp-for="Customer.Attribute11Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute11"].Value"/>            <abp-select asp-for="Customer.Attribute12Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute12"].Value"/>            <abp-select asp-for="Customer.Attribute13Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute13"].Value"/>            <abp-select asp-for="Customer.Attribute14Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute14"].Value"/>            <abp-select asp-for="Customer.Attribute15Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute15"].Value"/>            <abp-select asp-for="Customer.Attribute16Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute16"].Value"/>            <abp-select asp-for="Customer.Attribute1I7d" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute1I7d"].Value"/>            <abp-select asp-for="Customer.Attribute18Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute18"].Value"/>            <abp-select asp-for="Customer.Attribute19Id" asp-items="Model.CusAttributeValueLookupList" label="@L["Attribute19"].Value"/>            <abp-select asp-for="Customer.PaymentId" asp-items="Model.CustomerLookupList" label="@L["Payment"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>