@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Pages.Customers
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Customers"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.Customers;
}

@section scripts
{

    <abp-script src="/Pages/Customers/index.js" />

}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MdmServicePermissions.Customers.Create))
    {
        <abp-button id="NewCustomerButton" text="@L["NewCustomer"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="CodeFilter" label="@L["Code"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Phone1Filter" label="@L["Phone1"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Phone2Filter" label="@L["Phone2"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="erpCodeFilter" label="@L["erpCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LicenseFilter" label="@L["License"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="TaxCodeFilter" label="@L["TaxCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="vatNameFilter" label="@L["vatName"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="vatAddressFilter" label="@L["vatAddress"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ActiveFilter" label="@L["Active"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EffectiveDateFilterMin" label="@L["MinEffectiveDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EffectiveDateFilterMax" label="@L["MaxEffectiveDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EndDateFilterMin" label="@L["MinEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="EndDateFilterMax" label="@L["MaxEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CreditLimitFilterMin" label="@L["MinCreditLimit"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CreditLimitFilterMax" label="@L["MaxCreditLimit"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsCompanyFilter" label="@L["IsCompany"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="WarehouseIdFilter" label="@L["WarehouseId"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="StreetFilter" label="@L["Street"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="AddressFilter" label="@L["Address"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LatitudeFilter" label="@L["Latitude"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LongitudeFilter" label="@L["Longitude"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="SFACustomerCodeFilter" label="@L["SFACustomerCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LastOrderDateFilterMin" label="@L["MinLastOrderDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="LastOrderDateFilterMax" label="@L["MaxLastOrderDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PaymentTermIdFilter" label="@L["PaymentTerm"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="LinkedCompanyIdFilter" label="@L["LinkedCompany"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PriceListIdFilter" label="@L["PriceList"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="GeoMaster0IdFilter" label="@L["GeoMaster0"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="GeoMaster1IdFilter" label="@L["GeoMaster1"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="GeoMaster2IdFilter" label="@L["GeoMaster2"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="GeoMaster3IdFilter" label="@L["GeoMaster3"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="GeoMaster4IdFilter" label="@L["GeoMaster4"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute0IdFilter" label="@L["Attribute0"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute1IdFilter" label="@L["Attribute1"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute2IdFilter" label="@L["Attribute2"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute3IdFilter" label="@L["Attribute3"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute4IdFilter" label="@L["Attribute4"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute5IdFilter" label="@L["Attribute5"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute6IdFilter" label="@L["Attribute6"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute7IdFilter" label="@L["Attribute7"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute8IdFilter" label="@L["Attribute8"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute9IdFilter" label="@L["Attribute9"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute10IdFilter" label="@L["Attribute10"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute11IdFilter" label="@L["Attribute11"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute12IdFilter" label="@L["Attribute12"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute13IdFilter" label="@L["Attribute13"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute14IdFilter" label="@L["Attribute14"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute15IdFilter" label="@L["Attribute15"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute16IdFilter" label="@L["Attribute16"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute1I7dFilter" label="@L["Attribute1I7d"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute18IdFilter" label="@L["Attribute18"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Attribute19IdFilter" label="@L["Attribute19"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PaymentIdFilter" label="@L["Payment"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CustomersTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Code"]</th>
					<th>@L["Name"]</th>
					<th>@L["Phone1"]</th>
					<th>@L["Phone2"]</th>
					<th>@L["erpCode"]</th>
					<th>@L["License"]</th>
					<th>@L["TaxCode"]</th>
					<th>@L["vatName"]</th>
					<th>@L["vatAddress"]</th>
					<th>@L["Active"]</th>
					<th>@L["EffectiveDate"]</th>
					<th>@L["EndDate"]</th>
					<th>@L["CreditLimit"]</th>
					<th>@L["IsCompany"]</th>
					<th>@L["WarehouseId"]</th>
					<th>@L["Street"]</th>
					<th>@L["Address"]</th>
					<th>@L["Latitude"]</th>
					<th>@L["Longitude"]</th>
					<th>@L["SFACustomerCode"]</th>
					<th>@L["LastOrderDate"]</th>
					<th>@L["PaymentTerm"]</th>
					<th>@L["LinkedCompany"]</th>
					<th>@L["PriceList"]</th>
					<th>@L["GeoMaster0"]</th>
					<th>@L["GeoMaster1"]</th>
					<th>@L["GeoMaster2"]</th>
					<th>@L["GeoMaster3"]</th>
					<th>@L["GeoMaster4"]</th>
					<th>@L["Attribute0"]</th>
					<th>@L["Attribute1"]</th>
					<th>@L["Attribute2"]</th>
					<th>@L["Attribute3"]</th>
					<th>@L["Attribute4"]</th>
					<th>@L["Attribute5"]</th>
					<th>@L["Attribute6"]</th>
					<th>@L["Attribute7"]</th>
					<th>@L["Attribute8"]</th>
					<th>@L["Attribute9"]</th>
					<th>@L["Attribute10"]</th>
					<th>@L["Attribute11"]</th>
					<th>@L["Attribute12"]</th>
					<th>@L["Attribute13"]</th>
					<th>@L["Attribute14"]</th>
					<th>@L["Attribute15"]</th>
					<th>@L["Attribute16"]</th>
					<th>@L["Attribute1I7d"]</th>
					<th>@L["Attribute18"]</th>
					<th>@L["Attribute19"]</th>
					<th>@L["Payment"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>