@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.ItemMasters
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.ItemMasters;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ItemMasters/EditModal" autocomplete="off">
    <abp-modal id="ItemMasterEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="ItemMaster.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="ItemMaster.Code" />

            <abp-input asp-for="ItemMaster.Name" />

            <abp-input asp-for="ItemMaster.ShortName" />

            <abp-input asp-for="ItemMaster.ERPCode" />

            <abp-input asp-for="ItemMaster.Barcode" />

            <abp-input asp-for="ItemMaster.Purchasble" />

            <abp-input asp-for="ItemMaster.Saleable" />

            <abp-input asp-for="ItemMaster.Inventoriable" />

            <abp-input asp-for="ItemMaster.Active" />

            <abp-select asp-for="ItemMaster.ManageType" />

            <abp-select asp-for="ItemMaster.ExpiredType" />

            <abp-input asp-for="ItemMaster.ExpiredValue" />

            <abp-select asp-for="ItemMaster.IssueMethod" />

            <abp-input asp-for="ItemMaster.CanUpdate" />

            <abp-input asp-for="ItemMaster.BasePrice" />

                                <abp-select asp-for="ItemMaster.ItemTypeId" asp-items="Model.SystemDataLookupListRequired" label="@L["ItemType"].Value"/>            <abp-select asp-for="ItemMaster.VATId" asp-items="Model.VATLookupListRequired" label="@L["VAT"].Value"/>            <abp-select asp-for="ItemMaster.UOMGroupId" asp-items="Model.UOMGroupLookupListRequired" label="@L["UOMGroup"].Value"/>            <abp-select asp-for="ItemMaster.InventoryUnitId" asp-items="Model.UOMLookupListRequired" label="@L["InventoryUnit"].Value"/>            <abp-select asp-for="ItemMaster.PurUnitId" asp-items="Model.UOMLookupListRequired" label="@L["PurUnit"].Value"/>            <abp-select asp-for="ItemMaster.SalesUnit" asp-items="Model.UOMLookupListRequired" label="@L["SalesUnit"].Value"/>            <abp-select asp-for="ItemMaster.Attr0Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr0"].Value"/>            <abp-select asp-for="ItemMaster.Attr1Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr1"].Value"/>            <abp-select asp-for="ItemMaster.Attr2Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr2"].Value"/>            <abp-select asp-for="ItemMaster.Attr3Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr3"].Value"/>            <abp-select asp-for="ItemMaster.Attr4Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr4"].Value"/>            <abp-select asp-for="ItemMaster.Attr5Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr5"].Value"/>            <abp-select asp-for="ItemMaster.Attr6Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr6"].Value"/>            <abp-select asp-for="ItemMaster.Attr7Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr7"].Value"/>            <abp-select asp-for="ItemMaster.Attr8Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr8"].Value"/>            <abp-select asp-for="ItemMaster.Attr9Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr9"].Value"/>            <abp-select asp-for="ItemMaster.Attr10Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr10"].Value"/>            <abp-select asp-for="ItemMaster.Attr11Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr11"].Value"/>            <abp-select asp-for="ItemMaster.Attr12Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr12"].Value"/>            <abp-select asp-for="ItemMaster.Attr13Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr13"].Value"/>            <abp-select asp-for="ItemMaster.Attr14Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr14"].Value"/>            <abp-select asp-for="ItemMaster.Attr15Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr15"].Value"/>            <abp-select asp-for="ItemMaster.Attr16Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr16"].Value"/>            <abp-select asp-for="ItemMaster.Attr17Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr17"].Value"/>            <abp-select asp-for="ItemMaster.Attr18Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr18"].Value"/>            <abp-select asp-for="ItemMaster.Attr19Id" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr19"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
