@page
@using DMSpro.OMS.Localization;
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<OMSResource> L
@inject IHtmlLocalizer<OMSResource> L1
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Page.Title.SalesOrgs"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.SalesOrgs;
}

@section styles {
    <style>
        #btnActive {
            margin-top: 7.5px;
        }

        .isRoute:before {
            content: "R";
            display: inline-block;
            font-size: 8px;
            font-weight: bold;
            color: white;
            border: 1px solid #9bc023;
            border-radius: 10px;
            background: #9bc023;
            text-align: center;
            height: 13px;
            width: 13px;
            position: relative;
            top: -2px;
        }

        .isSellingZone:before {
            content: "Z";
            display: inline-block;
            font-size: 8px;
            font-weight: bold;
            color: white;
            border: 1px solid orange;
            border-radius: 10px;
            background: orange;
            text-align: center;
            height: 13px;
            width: 13px;
            position: relative;
            top: -2px;
        }
    </style>
}

@section scripts {
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/Pages/Mdm/SalesOrganization/Details.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:SalesOrganization"].Value</li>
        <li class="breadcrumb-item active">@L["Page.Title.SalesOrgs"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-check-square"></i> @L["Page.Title.SalesOrgs"].Value
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0" style="min-height: 330px;">
                <div class="dx-viewport">
                    <div id="formSalesOrgHeader" class="row px-2 py-2">
                        <div class="col-2">
                            <div id="salesOrgHeaderCode"></div>
                        </div>
                        <div class="col-2">
                            <div id="salesOrgHeaderName"></div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <button id="btnRelease" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed mt-2">
                                @L1["Button.Release"]
                            </button>
                            <button id="btnSalesOrgHeaderActive" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed mt-2 ml-2">
                                @L["EntityFieldValue:MDMService:SalesOrgHeader:Active:False"]
                            </button>
                            <button id="SaveButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed mt-2 ml-2">
                                <i class="fa fa-check"></i>
                                @L1["Button.Save"].Value
                            </button>
                            <button id="CloseButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed mt-2 ml-2">
                                <i class="fa fa-times"></i>
                                <span>@L1["Button.Close"].Value</span>
                            </button>
                        </div>
                    </div>
                    <div id="formDetail" class="row border-top py-2">
                        <div id="formSalesOrgHierarchy" class="col-6 px-2">
                            <div class="col border-right px-2">
                                <div class="row">
                                    <div class="col-auto mr-auto">
                                        <div class="dx-fieldset-header d-flex">Organization Tree</div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="buttons-header-grid">
                                            <button id="NewRootButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed" disabled>
                                                <i class="fa fa-plus"></i> <span>@L1["Button.NewRoot"].Value</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="contextMenu"></div>
                                <div id="dataTreeContainer"></div>
                            </div>
                        </div>
                        <div id="formSalesOrgEmpAssignment" class="col-6 px-2">
                            <div id="dataGridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>