@page
@using DMSpro.OMS.Localization;
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IHtmlLocalizer<OMSWebResource> L1
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["SalesOrgs"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.SalesOrgs;
}

@section styles {
    <style>
        #btnActive {
            margin-top: 7.5px;
        }
    </style>
}

@section scripts {
    <abp-script src="/Pages/Mdm/SalesOrganization/Details.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:SalesOrganization"].Value</li>
        <li class="breadcrumb-item active">@L["SalesOrgs"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-check-square"></i> @L["SalesOrgs"].Value
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0" style="height: 330px;">
                <abp-card>
                    <abp-card-body>
                        <abp-row>
                            <div style="padding-left:12px" class="buttons-header-grid">
                                @*<button id="NewSalesOrgButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-plus"></i>
                                    <span>@L["Button.New.SalesOrg"].Value</span>
                                </button>*@
                                <button id="SaveButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-check"></i>
                                    @L1["Button.Save"].Value
                                </button>
                                <button id="CloseButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-times"></i>
                                    <span>@L1["Button.Close"].Value</span>
                                </button>
                            </div>
                        </abp-row>
                        <div class="dx-viewport">
                            <div id="formSalesOrgHeader" class="row pt-3">
                                <div class="form-group col-2">
                                    <div id="salesOrgHeaderCode"></div>
                                </div>
                                <div class="form-group col-2">
                                    <div id="salesOrgHeaderName"></div>
                                </div>
                                <div class="form-group col-1">
                                    <button id="btnSalesOrgHeaderActive" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed mt-2">
                                        @L["EntityFieldValue:MDMService:SalesOrgHeader:Active:False"]
                                    </button>
                                </div>
                            </div>
                            <div id="formDetail" class="row border-top py-3">
                                <div id="formSalesOrgHierarchy" class="col-6 px-2">
                                    <div class="col border-right px-2">
                                        <div class="row">
                                            <div id="salesOrgHierarchyModal"></div>
                                            <div class="col-auto mr-auto">
                                                <div class="dx-fieldset-header d-flex">Organization Tree</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="buttons-header-grid">
                                                    <button id="NewSalesOrgHierarchyButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed" disabled>
                                                        <i class="fa fa-plus"></i> <span>@L["Button.New.SalesOrgHierarchy"].Value</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="contextMenu"></div>
                                        <div id="dataTreeContainer"></div>
                                    </div>
                                </div>
                                <div id="formSalesOrgEmpAssignment" class="col-6 px-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="dx-fieldset-header d-flex">Employee</div>
                                        </div>
                                        <div class="col-auto mr-auto">
                                            <div class="buttons-header-grid">
                                                <button id="NewSalesOrgEmpAssignmentButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed" disabled>
                                                    <i class="fa fa-plus"></i> <span>@L["Button.New.SalesOrgEmpAssignment"].Value</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dataGridContainer"></div>
                                </div>
                            </div>
                        </div>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</div>