@page
@using DMSpro.OMS.Localization;
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IHtmlLocalizer<OMSWebResource> L1
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["SalesOrgs"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.SalesOrgs;
}

@section styles {
    <style>
        #btnActive {
            margin-top: 7.5px;
        }
    </style>
}

@section scripts {
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/Pages/Mdm/SalesOrganization/index.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:SalesOrganization"].Value</li>
        <li class="breadcrumb-item active">@L["SalesOrgs"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-check-square"></i> @L["SalesOrgs"].Value
            </h2>
        </div>
        <div class="panel-container show" style="padding: 10px">
            <div class="panel-content jqvmap-bg-ocean p-0" style="height: 330px;">
                <div class="dx-viewport" style="overflow: auto">
                    <div id="dataGridContainer"></div>
                </div>
                @*<abp-card>
                    <abp-card-body>
                        <abp-row>
                            <div style="padding-left:12px" class="buttons-header-grid pb-2">
                                <button id="NewSalesOrgButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-plus"></i>
                                    <span>@L["Button.New.SalesOrg"].Value</span>
                                </button>
                            </div>
                        </abp-row>
                        <div class="dx-viewport">
                            <div id="dataGridContainer"></div>
                        </div>
                    </abp-card-body>
                </abp-card>*@
            </div>
        </div>
    </div>
</div>