@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["SalesOrgs"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.SalesOrgs;
}

@section scripts
    {
    <abp-script src="/Pages/Mdm/SalesOrganization/index.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:SalesOrganization"].Value</li>
        <li class="breadcrumb-item active">@L["SalesOrgs"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-check-square"></i> @L["SalesOrgs"].Value
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0" style="height: 330px;">
                <abp-card>
                    <abp-card-body>
                        <abp-row>
                            <div style="padding-left:12px" class="buttons-header-grid">
                                <button id="NewSalesOrgButton" type="button" class="btn btn-sm btn-outline-default waves-effect waves-themed">
                                    <i class="fa fa-plus"></i> <span>@L["NewSalesOrg"].Value</span>
                                </button>
                            </div>
                        </abp-row>
                        <div class="dx-viewport">
                            <div id="form" class="d-flex justify-content-center py-3"></div>
                            <div class="border-top d-flex justify-content-center py-3">
                                <div class="flex-1 border-right px-2">
                                    <div class="dx-fieldset-header">Organization Tree</div>
                                    <div id="dataTreeListContainer"></div>
                                </div>
                                <div class="flex-1 px-2">
                                    <div class="dx-fieldset-header">Employee</div>
                                    <div id="dataGridContainer"></div>
                                </div>
                            </div>
                        </div>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</div>