@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.Vendors
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Vendors;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Vendors/EditModal" autocomplete="off">
    <abp-modal id="VendorEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Vendor.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Vendor.Code" />

            <abp-input asp-for="Vendor.Name" />

            <abp-input asp-for="Vendor.ShortName" />

            <abp-input asp-for="Vendor.Phone1" />

            <abp-input asp-for="Vendor.Phone2" />

            <abp-input asp-for="Vendor.ERPCode" />

            <abp-input asp-for="Vendor.Active" />

            <abp-input asp-for="Vendor.EndDate" value="@(Model.Vendor.EndDate?.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="Vendor.WarehouseId" />

            <abp-input asp-for="Vendor.Street" />

            <abp-input asp-for="Vendor.Address" />

            <abp-input asp-for="Vendor.Latitude" />

            <abp-input asp-for="Vendor.Longitude" />

                                <abp-select asp-for="Vendor.LinkedCompanyId" asp-items="Model.CompanyLookupListRequired" label="@L["LinkedCompany"].Value"/>            <abp-select asp-for="Vendor.PriceListId" asp-items="Model.PriceListLookupListRequired" label="@L["PriceList"].Value"/>            <abp-select asp-for="Vendor.GeoMaster0Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster0"].Value"/>            <abp-select asp-for="Vendor.GeoMaster1Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster1"].Value"/>            <abp-select asp-for="Vendor.GeoMaster2Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster2"].Value"/>            <abp-select asp-for="Vendor.GeoMaster3Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster3"].Value"/>            <abp-select asp-for="Vendor.GeoMaster4Id" asp-items="Model.GeoMasterLookupList" label="@L["GeoMaster4"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>