@using Microsoft.AspNetCore.Mvc.Rendering
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonX.Navigation
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonX.Themes.LeptonX.Components.SideMenu.MainMenu

@model MenuItemViewModel

@{
	var cssClass = string.IsNullOrEmpty(Model.MenuItem.CssClass) ? string.Empty : Model.MenuItem.CssClass;
}

@if (Model.MenuItem.IsLeaf)
{
	var url = string.IsNullOrEmpty(Model.MenuItem.Url) ? "#" : Url.IsLocalUrl(Model.MenuItem.Url) ? Url.Content(Model.MenuItem.Url.EnsureStartsWith('~')) : Model.MenuItem.Url;

	<a href="@url" target="@Model.MenuItem.Target" class="@cssClass" id="@Model.MenuItem.ElementId" data-filter-tags="">
		<i class="@(Model.MenuItem.Icon)"></i>
		<span class="nav-link-text">@Model.MenuItem.DisplayName</span>
	</a>
}
else
{
	<a data-filter-tags="" href="#">
		<i class="@(Model.MenuItem.Icon)"></i>
		<span class="nav-link-text">@Model.MenuItem.DisplayName</span> 
	</a>

	<ul id="@Model.MenuItem.ElementId" class="@cssClass">
		@foreach (var childMenuItem in Model.Items)
		{
			<li>
				@await Html.PartialAsync("/Components/MainMenu/_MenuItem.cshtml", childMenuItem)
			</li>
		}
	</ul>
}
