@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.SSHistoryInZones
@using DMSpro.OMS.MdmService.SSHistoryInZones;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/SSHistoryInZones/CreateModal" autocomplete="off">
    <abp-modal id="SSHistoryInZoneCreateModal">
        <abp-modal-header title="@L["NewSSHistoryInZone"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="SSHistoryInZone.EffectiveDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="SSHistoryInZone.EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

                                <abp-select asp-for="SSHistoryInZone.SalesOrgHierarchyId" asp-items="Model.SalesOrgHierarchyLookupListRequired" label="@L["SalesOrgHierarchy"].Value"/>            <abp-select asp-for="SSHistoryInZone.EmployeeId" asp-items="Model.EmployeeProfileLookupListRequired" label="@L["Employee"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>