@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.PriceListDetails
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.PriceListDetails;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/PriceListDetails/EditModal" autocomplete="off">
    <abp-modal id="PriceListDetailEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="PriceListDetail.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="PriceListDetail.Price" />

            <abp-input asp-for="PriceListDetail.BasedOnPrice" />

            <abp-input asp-for="PriceListDetail.Description" />

                                <abp-select asp-for="PriceListDetail.PriceListId" asp-items="Model.PriceListLookupListRequired" label="@L["PriceList"].Value"/>            <abp-select asp-for="PriceListDetail.ItemMasterId" asp-items="Model.ItemMasterLookupListRequired" label="@L["ItemMaster"].Value"/>            <abp-select asp-for="PriceListDetail.UOMId" asp-items="Model.UOMLookupListRequired" label="@L["UOM"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
