@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.UOMGroupDetails
@using DMSpro.OMS.MdmService.UOMGroupDetails;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/UOMGroupDetails/CreateModal" autocomplete="off">
    <abp-modal id="UOMGroupDetailCreateModal">
        <abp-modal-header title="@L["NewUOMGroupDetail"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="UOMGroupDetail.AltQty" />

            <abp-input asp-for="UOMGroupDetail.BaseQty" />

            <abp-input asp-for="UOMGroupDetail.Active" />

                                <abp-select asp-for="UOMGroupDetail.UOMGroupId" asp-items="Model.UOMGroupLookupListRequired" label="@L["UOMGroup"].Value"/>            <abp-select asp-for="UOMGroupDetail.AltUOMId" asp-items="Model.UOMLookupListRequired" label="@L["AltUOM"].Value"/>            <abp-select asp-for="UOMGroupDetail.BaseUOMId" asp-items="Model.UOMLookupListRequired" label="@L["BaseUOM"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
