@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Pages.EmployeeImages
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["EmployeeImages"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.EmployeeImages;
}

@section scripts
{
    <abp-script src="/Pages/Mdm/EmployeeImages/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(MdmServicePermissions.EmployeeProfiles.Create))
    {
        <abp-button id="NewEmployeeImageButton" text="@L["NewEmployeeImage"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="DescriptionFilter" label="@L["Description"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="urlFilter" label="@L["url"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ActiveFilter" label="@L["Active"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsAvatarFilter" label="@L["IsAvatar"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="EmployeeProfileIdFilter" label="@L["EmployeeProfile"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="EmployeeImagesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Description"]</th>
					<th>@L["url"]</th>
					<th>@L["Active"]</th>
					<th>@L["IsAvatar"]</th>
					<th>@L["EmployeeProfile"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>