@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.ItemGroupAttrs
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.ItemGroupAttrs;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ItemGroupAttrs/EditModal" autocomplete="off">
    <abp-modal id="ItemGroupAttrEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="ItemGroupAttr.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                        <abp-select asp-for="ItemGroupAttr.ItemGroupId" asp-items="Model.ItemGroupLookupListRequired" label="@L["ItemGroup"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr0" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr0"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr1" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr1"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr2" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr2"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr3" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr3"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr4" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr4"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr5" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr5"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr6" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr6"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr7" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr7"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr8" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr8"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr9" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr9"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr10" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr10"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr11" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr11"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr12" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr12"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr13" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr13"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr14" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr14"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr15" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr15"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr16" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr16"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr17" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr17"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr18" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr18"].Value"/>            <abp-select asp-for="ItemGroupAttr.Attr19" asp-items="Model.ProdAttributeValueLookupList" label="@L["Attr19"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
